.input-container  {
    display: block;
  margin-left: 100px !important;
  z-index: 9 !important;

}

canvas {
  padding-left: 0;
  padding-right: 0;
  display: block;
}


.container {
  display: flex;
  padding : 20px;
}

.logo {
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.game {
  margin : 20px;
}